@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

#container {
  width: 100vw;
  height: 98vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d5e1ef;
}

#box {
  height: 500px;
  width: 320px;
  background-color: #fff;
  border-radius: 12px;
  padding: 16px 16px 40px 16px;
}

#box .qr-code {
  width: 288px;
  height: 288px;
  border-radius: 12px;
}

#box .info {
  width: 288px;
  height: 131px;
  margin: 40px 0px 0px 0px;
}

#box .info h1 {
  font-size: 22px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0px;
  margin-bottom: 16px;
  color: #1f314f;
}

#box .info p {
  font-size: 15px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.2px;
  color: #68778d;
  width: 256px;
  height: 63px;
 }

.rodape {
  font-size: 11px;
  text-align: center;
  background-color: #d5e1ef;
}

.rodape a {
  color: hsl(228, 45%, 44%);
}
